body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f8f9fa;  
    color: #343a40;  
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb4a2; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #343a40;
    padding: 20px;
    text-align: center;
    margin: 0; 
    position: relative; 
    top: 0; 
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.role {
    background-color: #bde0fe; 
    border: 2px solid #0096c7; 
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 90%; 
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); 
    text-align: center;
}

button {
    background-color: #ffafcc; 
    color: #343a40;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

button:hover {
    background-color: #ffc8dd; 
}

.details {
    margin-top: 10px;
    color: #343a40; 
    text-align: left;
}

nav {
    background-color: #ffb4a2; 
    padding: 10px 0;
    text-align: center;
    margin: 0; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}

main {
    padding-left: 20px; 
    font-size: 16px;
}

footer {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffb4a2;
    color: #343a40;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0; 
}

@media (max-width: 768px) {
    body {
        background-color: #f8f9fa;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 899px) {
    main {
        font-size: 18px; 
    }
}

@media (min-width: 992px) {
    main {
        font-size: 20px; 
    }

    nav ul li {
        display: inline-block; 
    }
}
